<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>CASINO / CRFLOSKY</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='lobby/index.css'>
    <link rel="icon" type="image/png" href="assets/logos/ficha-de-casino.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
    <header>
        <div class="logo">
            <img src="assets/logos/Logo_F_CR.png" alt="Logo">
        </div>
        <nav class="nav-links">
            <!-- Aquí puedes añadir enlaces en el futuro -->
        </nav>
        <div class="buttons">
            <button class="button-entrar" role="button" onclick="openModal('loginModal')"><i
                    class="fa-regular fa-user"></i> ENTRAR</button>
            <button class="button-registrate" role="button" onclick="openModal('registerModal')"><i
                    class="fa-solid fa-key"></i> REGÍSTRATE</button>
        </div>
    </header>

    <div class="marque">
        <marquee>&copy CRFLOKSY CASINO // JUEGA CON RESPONSABILIDAD +18</marquee>
    </div>

    <!-- Sección de juegos -->
    <section class="juegos">
        <div class="juego">
            <a href="juego1.html">
                <img src="assets/portadaJuegos/slots.png" alt="Juego 1">
                <h3>Family Guy Game</h3>
            </a>
        </div>
        <div class="juego">
            <a href="juego2.html">
                <img src="assets/portadaJuegos/dino-fondo-juego.png" alt="Juego 2">
                <h3>Dino</h3>
            </a>
        </div>
        <div class="juego">
            <a href="juego3.html">
                <img src="assets/portadaJuegos/Lucky-Gold-Miner.png" alt="Juego 3">
                <h3>Minas Game Vip</h3>
            </a>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            
            <!-- Logo y Copyright -->
            <div class="footer-section logo-section">
                <img src="assets/logos/Logo_F_CR_2.png" alt="CR Flosky Casino" class="footer-logo">
                <p class="copyright">©2025 CrFloskyCasino Online</p>
            </div>

            <!-- Redes Sociales -->
            <div class="footer-section social-section">
                <h3>Redes Sociales</h3>
                <div class="social-icons">
                    <a href="https://x.com/twitter?lang=es&mx=2"><img src="assets/redesSociales/Twitter-Icon.png" alt="Twitter"></a>
                    <a href="https://www.instagram.com/accounts/login/"><img src="assets/redesSociales/instagram-icon.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com/login/?locale=es_ES"><img src="assets/redesSociales/facebook-icon.png" alt="Facebook"></a>
                </div>
            </div>

            <!-- Sección de Servicios -->
            <div class="footer-section services-section">
                <h3>Servicios</h3>
                <a href="Politica de privacidad.html">Privacidad</a>
                <a href="Terminos y condiciones.html">Términos</a>
                <a href="#">Cookies</a>
            </div>

            <!-- Contacto -->
            <div class="footer-section contact-section">
                <h3>Contacto</h3>
                <p>📞 Teléfono: +34 685 96 94 98</p>
                <p class="correo">📧 Correo: <a href="mailto:crflosky@gmail.com">crflosky@gmail.com</a></p>
            </div>

        </div>
    </footer>

    <!-- Modal de Inicio de Sesión -->
    <div id="loginModal" class="modalLogin">
        <div class="modal-contentLogin">
            <form id="loginForm">
            <span class="close" onclick="closeModal('loginModal')">&times;</span>
            <img src="assets/logos/Logo_F_CR_2.png" alt="Logo" class="modal-logo">
            <h2>Iniciar Sesión</h2>

            <div class="input-groupUsuario">
                <label for="username">Usuario</label>
                <input type="text" id="usernameLogin" name="usernameLogin" placeholder="Ingresa tu usuario" />
            </div>

            <div class="input-groupUsuario">
                <label for="password" title="La contraseña debe contener mayúsculas y más de 10 caractéres">Contraseña</label>
                <input type="password" id="passwordLogin" name="passwordLogin" placeholder="Ingresa tu contraseña" />
            </div>

            <div id="errorModal" class="modalError">
                <div class="modalErrorContent">
                    <h5 id="error">Ha ocurrido un error.</h5>
                </div>
            </div>

            <button class="button-login" onclick="submitGet()">Entrar</button>
            </form>
        </div>
    </div>

    <!-- Modal de Registro -->
    <div id="registerModal" class="modal">
        <div class="modal-content">
            <form id="registroForm">
                <span class="close" onclick="closeModal('registerModal')">&times;</span>
                <img src="assets/logos/Logo_F_CR_2.png" alt="Logo" class="modal-logo">
                <h2>REGISTRO</h2>
                <div class="input-group">
                    <div class="input-container">
                        <label for="username">Usuario</label>
                        <input type="text" placeholder="Usuario" id="username" name="usuario" required />
                    </div>
                    <div class="input-container">
                        <label for="email">Correo</label>
                        <input type="email" placeholder="Correo" id="email" name="correo" required />
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-container">
                        <label for="pwd">Contraseña</label>
                        <input type="password" placeholder="Contraseña" id="pwd" name="contrasenia" required />
                    </div>
                    <div class="input-container">
                        <label for="pwd2">Confirma tu contraseña</label>
                        <input type="password" placeholder="Confirma tu contraseña." id="pwd2" required>
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-container">
                        <label for="nombre">Nombre</label>
                        <input type="text" placeholder="Nombre" id="nombre" name="nombre del usuario" required />
                    </div>
                    <div class="input-container">
                        <label for="apellido">Primer Apellido</label>
                        <input type="text" placeholder="Primer Apellido" id="apellido" name="apellido del usuario"
                            required />
                    </div>
                </div>

                <div class="input-group">
                    <div class="input-container">
                        <label for="dni">DNI</label>
                        <input type="text" placeholder="DNI" id="dni" name="dni" maxlength="9" required />
                    </div>
                    <div class="input-container">
                        <label for="fechaNacimiento">Fecha de Nacimiento</label>
                        <input type="date" id="fechaNacimiento" name="fecha Nacimiento del usuario" required />
                    </div>
                </div>

                <!--Modales de confirmacion-->
                <div id="exitoModal" class="modalExito">
                    <div class="modalExitoContent">
                        <h5 id="exito">Usuario registrado con éxito.</h5>
                    </div>
                </div>
                <div id="errorModal" class="modalError">
                    <div class="modalErrorContent">
                        <h5 id="error">Ha ocurrido un error.</h5>
                    </div>
                </div>
                <button class="button-register" id="registro" type="submit">Registrarse</button>
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="lobby/indexMODAL.js"></script>
</body>

</html>